.articles_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: rgb(1, 85, 85);
}

.articles_list {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.articles_item {
    cursor: pointer;
}

.articles_item:hover {
    color: rgb(12, 133, 133);
}