.article_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    color: rgb(1, 85, 85);
    font-size: 24px;
    text-align: center;
}

.path {
    font-style: italic;
}

.btn {
    align-self: flex-end;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fefefe;
    background-color: rgb(6, 174, 174);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(16, 156, 156);
}