.nav_container {
    display: flex;
    gap: 15px;
    border-bottom: 2px solid rgb(6, 174, 174);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.nav_link {
    text-decoration: none;
    color: rgb(9, 105, 105);
    font-weight: 500;
}

.nav_link.active {
    color: rgb(16, 156, 156);
}